<div class="block-map__map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXxBGBjG9M0dZhbCvpa8XHOgMQ_Fy-0_w&libraries=visualization,drawing,geometry,places"
     map-lazy-load-params="{{googleMapsUrl}}" >


    <ng-map id="ngMap" default-style="false"
            disable-default-u-i="true"
            center="52.370216,4.895168" zoom="12"
            styles="[{elementType:'geometry',stylers:[{color:'#242f3e'}]},{elementType:'labels.text.fill',stylers:[{color:'#746855'}]},{elementType:'labels.text.stroke',stylers:[{color:'#242f3e'}]},{featureType:'administrative.land_parcel',stylers:[{visibility:'off'}]},{featureType:'administrative.locality',elementType:'labels.text.fill',stylers:[{color:'#d59563'}]},{featureType:'administrative.neighborhood',stylers:[{visibility:'off'}]},{featureType:'poi',elementType:'labels.text',stylers:[{visibility:'off'}]},{featureType:'poi',elementType:'labels.text.fill',stylers:[{color:'#d59563'}]},{featureType:'poi.park',elementType:'geometry',stylers:[{color:'#263c3f'}]},{featureType:'poi.park',elementType:'labels.text.fill',stylers:[{color:'#6b9a76'}]},{featureType:'road',elementType:'geometry',stylers:[{color:'#38414e'}]},{featureType:'road',elementType:'geometry.stroke',stylers:[{color:'#212a37'}]},{featureType:'road',elementType:'labels',stylers:[{visibility:'off'}]},{featureType:'road',elementType:'labels.text.fill',stylers:[{color:'#9ca5b3'}]},{featureType:'road.arterial',elementType:'labels',stylers:[{visibility:'off'}]},{featureType:'road.highway',elementType:'geometry',stylers:[{color:'#746855'}]},{featureType:'road.highway',elementType:'geometry.stroke',stylers:[{color:'#1f2835'}]},{featureType:'road.highway',elementType:'labels',stylers:[{visibility:'off'}]},{featureType:'road.highway',elementType:'labels.text.fill',stylers:[{color:'#f3d19c'}]},{featureType:'road.local',stylers:[{visibility:'off'}]},{featureType:'transit',elementType:'geometry',stylers:[{color:'#2f3948'}]},{featureType:'transit.station',elementType:'labels.text.fill',stylers:[{color:'#d59563'}]},{featureType:'water',elementType:'geometry',stylers:[{color:'#17263c'}]},{featureType:'water',elementType:'labels.text',stylers:[{visibility:'off'}]},{featureType:'water',elementType:'labels.text.fill',stylers:[{color:'#515c6d'}]},{featureType:'water',elementType:'labels.text.stroke',stylers:[{color:'#17263c'}]}]">
        <info-window id="myInfoWindow">
            <div ng-non-bindable>
                <h4 class="block-map__title">{{selectedLocation.content.title}}</h4>
                <!--<image-responsive-db
                    ng-if="getImage(selectedLocation.content, 'main_image')"
                    module="module"
                    alt="{{selectedLocation.content.main_image_alt_text}}"
                    image="getImage(selectedLocation.content, 'main_image')"
                    common="false"
                    filter_name="'map_image'"
                    class="block-map__image"
                    img_class="block-map__image"
                >
                </image-responsive-db>-->
                <div class="block-map__address">{{selectedLocation.content.address}}</div>
            </div>
        </info-window>

    </ng-map>
</div>
