#ngMap {
    height: 500px;
    width:100%;
}

.block-map__map {
    width: 100%;
}

.block-map__marker {
    //@include image_extend_svg('icons/marker_icon.svg', 'mobile');
    height: 27px;
    width: 17px;
}

.block-map__title {
    font-size: 12px;
    letter-spacing: 2.8px;
    line-height: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.block-map__title,
.block-map__address {
    color: $white;
}

.block-map__address {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
}

.block-map__image {
    width: 200px;

    @include respond-to(desktop) {
        width: 300px;
    }
}

ng-map {
    > div {

        z-index: 1;

        @include respond-to(tablet) {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
    }
}

.block-map__map {
    margin: 30px auto;
    margin-left: -25px;
    width: calc(100% + 50px);

    @include respond-to(tablet) {
        margin: 20px auto;
        max-width: 665px;
        width: 100%;
    }

    @include respond-to(desktop) {
        max-width: 880px;
    }

    @include respond-to(desktop_big) {
        max-width: 1120px;
    }
}

ng-map#ngMap {
    @include respond-to(tablet) {
        height: 400px !important;
    }
}

.ng-map-info-window {
    background-color: $black;
    color: $white;

    @include respond-to(tablet) {
        border-radius: 4px;
    }
}
/*
.ng-map-info-window div:first-child > div:nth-child(1) {
    border-top-color: navy !important;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
    background-color: transparent !important;
}
.ng-map-info-window div:first-child > div:nth-child(4) {
    background-color: transparent !important;
}
*/
.gm-style-iw + div {display: none;}

.ng-map-info-window div:first-child > div:nth-child(1) {
    border-top-color: black !important;
    color: $white;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
    background-color: transparent !important;
}
.ng-map-info-window div:first-child > div:nth-child(4) {
    background-color: transparent !important;
}
